.center-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid black;
}

.container {
  max-width: 40%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 2%;
  min-width: 15%;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.btn-success {
  background: #2ecc71;
  color: #ffffff;
  border-radius: 8px;
}

.btn-success:hover {
  background: #27ae60;
  color: #ffffff;
}
